$primary-color: #7862eb;
$hover-color: #9381ef;
$default-light-violet: #eceeff;

// temporary colors for status
$state-feature-light-bg: rgba(245, 245, 245, 0.59);
$state-feature-light-text: #69696c;

$default-black: #282828;
$default-white: #ffffff;
$default-grey: #e4e4e7;
$default-light-grey: #f6f6f6;
$error-color: #be4a4a;

$green: #11890f;

$green-text: #13806a;

$light-green: #ddf2dc;
$light-red: #fdecec;

$box-shadow-header: 0px 1px 0px 0px #12203b17;
$default-border: 2px solid $default-grey;
$box-shadow-default: 0px 1px 2px 0px #1018280d;
$additional-color: #28282d;

$background-color: #f1f0f3;

$pirple-light: #eceeff;
$disabled-color: #aca1e1;
$default-transition: all 0.2s ease-in-out;

$bg-weak-50: #f5f7fa;

$primary-base: #7d52f4;

$primary-purple-600: #693ee0;
$primary-purple-50: #efebff;
$primary-alpha-10: #784def2c;

$secondary-red-700: #d02533;
$secondary-red-50: #ffebec;

$state-warning-dark: #682f12;
$state-warning-light: #ffd5c0;

$state-feature-dark: #351a75;
$state-feature-light: #cac0ff;

$state-error-dark: #681219;
$state-error-light: #ffc0c5;

$accent-orange-600: #e97135;
$accent-orange-50: #fff1eb;

$text-strong-950: #0e121b;
$text-sub-600: #525866;

$bg-white-0: #ffffff;

$stroke-sub-300: #cacfd8;
$stroke-soft-200: #e1e4ea;

$text-disabled-300: #cacfd8;
$text-soft-400: #99a0ae;

$icon-strong-950: #0e121b;

$state-faded-light: #e1e4ea;

$netural-50: #f5f7fa;
$netural-100: #f2f5f8;
$netural-200: #e1e4ea;

$mobile-max-width: 768px;
